---
const test = 'test';
---

<section class="scroll-mt-28" id="about">
  <div class="px-8 md:px-12 pb-24 max-w-2xl mx-auto">
    <div>
      <h2 class="text-2xl tracking-tighter  font-light lg:text-4xl text-black mb-4">
        About Me
      </h2>
    </div>
    <div>
      <p class=" text-zinc-500">
        I am a Fullstack Developer with 6 years of experience in frontend frameworks and architectures, specializing in optimization and performance.
        <br/> <br/>
        I excel in collaborating with multidisciplinary teams to deliver high-quality projects, with a strong focus on problem-solving and continuous improvement, leveraging the latest trends in both frontend and backend development.
      </p>
    </div>
  </div>
</section>
