<section class="scroll-mt-28" id="experience">
    <div class="px-8 md:px-12 pb-24 max-w-2xl mx-auto">
        <div>
            <h2 class="text-2xl tracking-tighter font-light lg:text-4xl text-black mb-8">
                My Experience
            </h2>
        </div>
        <div class="space-y-8">
            <div class="relative pl-8">
                <div class="absolute left-0 top-0 w-1 h-full bg-gray-400"></div>
                <div class="mb-8 flex items-start space-x-4">
                    <div>
                        <h3 class="text-lg font-bold text-gray-900">Frontend Developer</h3>
                        <p class="text-gray-600">ABC Company</p>
                        <p class="text-gray-500">January 2020 - Present</p>
                        <p class="text-sm mt-2 text-gray-600">Worked on various projects including a custom CMS for Real Estate, innovative dashboards, mobile applications, e-commerce platforms, and solutions focused on the tourism sector.</p>
                    </div>
                </div>
                <div class="mb-8 flex items-start space-x-4">
                    <div>
                        <h3 class="text-lg font-bold text-gray-900">Junior Developer</h3>
                        <p class="text-gray-600">XYZ Solutions</p>
                        <p class="text-gray-500">June 2018 - December 2019</p>
                        <p class="text-sm mt-2 text-gray-600">Contributed to the development of various web applications, optimized performance, and implemented new features based on client requirements.</p>
                    </div>
                </div>
                <div class="mb-8 flex items-start space-x-4">
                    <div>
                        <h3 class="text-lg font-bold text-gray-900">Intern Developer</h3>
                        <p class="text-gray-600">Tech Startups Inc.</p>
                        <p class="text-gray-500">January 2017 - May 2018</p>
                        <p class="text-sm mt-2 text-gray-600">Assisted in the development of web applications, participated in code reviews, and gained experience with various frontend technologies.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
