---
// Component properties
const { href = '#', text = 'Get started', arrow = false, target = '_self' } = Astro.props
---

<a
  class="rounded-full px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-between bg-white text-zinc-500 h-10 border-zinc-300 focus:ring-2 shadow-zinc-500/5 focus:ring-blue-950 focus:ring-offset-2 ring-offset-zinc-200 hover:bg-black hover:text-white duration-300"
  href={href}
  target={target}
>
  {text}
  {arrow && <span>→</span>}
</a>
