---
interface Props {
  name: string;
  icon: string;
  color?: string;
}

export interface SkillProps extends Props {}

const { name, icon } = Astro.props;
---

<div class:list={['w-full p-4 pt-5 rounded-lg', 'flex flex-col gap-3 items-center', 'bg-white']}>
  <div class:list={['w-full h-full flex justify-center', `hover`]}>
    <img src={icon} alt={name} class="w-2/3 h-full" />
  </div>
  <div class="flex-1">
    <p class="text-sm font-medium text-zinc-500">{name}</p>
  </div>
</div>
